body {
    margin: 60px auto;
    width: 70%;
    background-color: #1d1f21;
}
nav ul, footer ul {
    font-family: monospace;
    padding: 0px;
    list-style: circle;
    color: #43f7b9;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    color: #43f7b9;
}
a {
    text-decoration: none;
    font-size:14px;
    font-family: monospace;
    color: #43f7b9;
}
a:hover {
    text-decoration: underline;
}
a.lic {
    font-size: 12px;
    color: #43f7b9;
}
b {
    font-size: 14px;
    color: #43f7b9;
    font-family: monospace;
}
h1 {
    font-size: 14px;
    font-family: monospace;
    color: #43f7b9;
}
p {
    font-size: 14px;
    font-family: monospace;
    line-height: 1.4em;
    font-weight: 400;
    color: #ffffff;
}
footer {
    border-top: 1px solid #ffffff;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: circle;
    color: #43f7b9;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
code {
    font-size: 15px;
    font-family: monospace;
    line-height: 1.4em;
    font-weight: 500;
    background: #073642;
    color: #859900;
    padding: 3px;
}
pre {
    font-size: 14px;
    font-family: monospace;
    line-height: 1.4em;
    font-weight: 400;
    color: #ffffff;
}
