<!DOCTYPE html>
	<html>
		<head>
			<meta name="description" content="{{ page.description }}">
			<meta name="author" content="Daniel A. Dizzy">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="https://danieldizzy.github.io/">[About]</a></li>
	        	  <li><a href="https://danieldizzy.github.io/cv/">[CV]</a></li>
	        		<li><a href="https://danieldizzy.github.io/blog/">[Blog]</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="http://www.dizzygeeks.com/contact">[Contact]</a></li>
	        		<li><a href="https://github.com/danieldizzy">[GitHub]</a></li>
							<li><a href="https://www.linkedin.com/in/daniel-d-0b703118/">[LinkedIn]</a></li> 
					<li><a href="https://www.credly.com/users/daniel-dzissah">[Credly]</a></li>
				</ul>
			</footer>
		</body>
	</html>
